<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="MailSettings" type ="System.Configuration.NameValueSectionHandler" />
		<section name ="ConnectionStrings" type ="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<MailSettings>
		<add key="Server" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="FromName" value="ISTIC DesktopBank"/>
		<add key="FromEmail" value="isticwallet@gmail.com"/>
		<add key="UserName" value="isticwallet@gmail.com"/>
		<add key="Password" value="xszp gygt ihqw pcre"/>
	</MailSettings>

	<ConnectionStrings>
		<add key="sqlBank" value="server=sql.bsite.net\MSSQL2016;user=nojedaistic_DesktopBank;password=;TrustServerCertificate=True;"/>
	</ConnectionStrings>
</configuration>

