<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="MailSettings" type ="System.Configuration.NameValueSectionHandler" />
		<section name ="DBSettings" type ="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<MailSettings>
		<add key="Server" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="FromName" value="DesktopBank"/>
		<add key="FromEmail" value="@gmail.com"/>
		<add key="UserName" value="@gmail.com"/>
		<add key="Password" value=""/>
	</MailSettings>

	<DBSettings>
		<add key="ServerName" value=""/>
		<add key="ServerUserName" value=""/>
		<add key="ServerPassword" value=""/>
	</DBSettings>
</configuration>	